body{

background: #404040;
}
.shakebgimg{
    width:100%;
    padding-left:70px;
    z-index:1;
}
.r1{
	 -moz-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
	-o-transform:rotate(-3deg);
}

.r2{
	 -moz-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);
	-o-transform:rotate(2deg);
}
.sureVaule{
 padding: 2 4 0 4;
 font-size:12px;
 height:23;
 font-size:15px;
 text-align:center;
 background-color:#ece9d8;
 border-width:1;
}
.sureVaule input{
 padding: 2 4 0 4;
 font-size:12px;
 height:23;
 font-size:15px;
 text-align:center;
 background-color:#ece9d8;
 border-width:1;
}
.cLineB{
 color:black;
}
.content{
 background:#ece9d8;
}
.sureVaule a{
 color:black;
 font-size:15px;
 text-align:center;
}
.userinfoArea{
 color:black;
}
.red{
 color:red;
}