.shopinfo_title { height: 35px; line-height: 35px; position: relative; margin:0 10px; border-bottom:2px solid #ddd;}
.shopinfo_title .ico2 { margin-left: 10px;font-size:15px;  font-weight:normal; color:#777;}

.veins2 {}
.veins2 .ico2 { color: #3d3f3e; }
