body,html {font: normal 100% Helvetica, Arial, sans-serif; color:#FFF; background:url(../images/main_bg.jpg) repeat; -webkit-text-size-adjust:none;}
a, a:link, a:visited, a:hover, a:active {cursor: pointer;text-decoration:none; color:#FFF;}
*{ padding:0; margin:0; list-style: none; border:0 none;outline:none;}
.mp25 {margin-top:25px;}
.hidden { display:none}

/*header
==================================================================================*/
.header {width:100%;height: 56px; background:url(../images/header_bg.jpg) repeat-x; overflow:hidden; position:relative}
.header .logo {width:132px; height:56px; overflow:hidden; position:absolute; top:0; left:0;}
.headerRigth { position:absolute; top:12px; right:0;}
.header .back,.header .home {width:65px; height:35px; display:block; float:left; margin-right:20px;}
.headerRigth { height:35px; overflow:hidden}

.nav { height:35px; padding:0 15px; background:url(../images/nav_bg.jpg) repeat-x; overflow:hidden; position:relative}
.backList { width:85px; height:35px; display:block; float:right}

.menu { background:url(../images/menu_ul_bg.jpg) repeat-x;}
.menu li { color:#FFF; height:40px; font-size:16px; font-family:"Microsoft YaHei"; line-height:40px;background:url(../images/menu_bg.jpg) no-repeat right 0;}
.menu li a { color:#FFF; padding:0 0 0 30px;height:40px; display:block}

/*body_index
==================================================================================*/
.main {width:320px;background:url(../images/detail_bg.jpg) repeat-y;margin:0 auto;}

.carCX .car {height:84px; background:url(../images/carCX_bg.jpg) repeat-x; margin-top:1px;}
.car .IMG { text-align:center;}
.carCX .KV {width:320px;height:84px;overflow:hidden;position:relative;margin:0 auto;}
.carCX .KV ul {height:84px;position:absolute;}
.carCX .KV li {width:320px;height:84px;overflow:hidden;float:left;position:relative;}

.carNext {width:30px; height:30px; display:block;cursor:pointer;position:absolute; right:5px; top:25px;}

.bannerBox,.americanBox,.homeBox {position:relative;}
.banner {overflow:hidden;margin:0 auto; padding-bottom:15px; position:relative;}
.banner ul { height:399px;position:absolute;}
.banner ul li {width:320px;height:399px;float:left; position:relative;}
.banner ul li span { position:absolute; right:10px;}

.home {height:100%;overflow:hidden;position:relative;}
.home li {width:100%;height:100%;float:left;}	

.subBanner,.subBanner img {width:100%;}

@media screen and (max-width: 400px)  {	
	.american {width:320px;overflow:hidden;position:relative;margin:0 auto;}
	.american li {width:320px; float:left; overflow:hidden;}
	
	.banner {width:320px; height:400px;}
	.banner li img {width:320px; height:211px;}
	.banner span img {width:70px; height:70px;}
	.banner ul li span { top:186px;}	
}
@media only screen and (min-width: 410px) and (max-width: 590px){	
	.american {width:480px;overflow:hidden;position:relative;margin:0 auto;}
	.american li {width:480px; float:left; overflow:hidden;}
	
	.banner {width:480px; height:510px;}
	.banner li img {width:480px; height:317px;}
	.banner span img {width:100px; height:100px;}
	.banner ul li span { top:282px;}
}
@media screen and (min-width: 600px) {	
	.american {width:640px;overflow:hidden;position:relative;margin:0 auto;}
	.american li {width:640px; float:left; overflow:hidden;}
	
	.banner {width:640px; height:600px;}
	.banner li img {width:640px; height:422px;}
	.banner span img {width:130px; height:130px;}
	.banner ul li span { top:372px;}
}
.home ul li img,.americanBanner img,.american li img {width:100%; height:auto; max-width:100%; display:block;-ms-interpolation-mode: bicubic;}
.btn {width:100%; height:10px; text-align:center; position:absolute;}
.btn span {cursor:pointer;width:10px;height:10px;background:url(../images/ico_dots.png) no-repeat;display:inline-block; margin:0 -1px}
.btn span.on {background:url(../images/ico_current.png) no-repeat;}

.bannerBox .btn {bottom:25px;}
.homeBox .btn {bottom:15px;}

.americanBox p { font-size:12px; padding:10px 10px 0 10px; line-height:18px; color:#a6a6a6;}
.americanBox span { font-weight:bold; color:#FFF;}

.subscribe,.query {padding:25px 12px;position:relative}
.form label { font-size:16px; padding-bottom:8px; display:block}
.form .samllSelect { height:35px;}
.form .samllSelect span {width:125px;/*position:absolute; top:50x; right:10px;*/ float:left; margin-left:10px; display:block;}

.bigselect { width:100%; height:35px; line-height:35px;}
.smallselect {width:54%; height:35px; line-height:35px; float:left}

.adress { margin-top:25px;}
.adress dt,.adress dd { padding:5px 0 5px 35px; line-height:23px;}
.adress dd a { text-decoration:underline;}
.adress dt { background:url(../images/ico_home.png) no-repeat 0 center;}
.adress dd.phone { background:url(../images/ico_mobel.png) no-repeat 0 center;}
.car { display:block; margin-top:15px;}
.checkbox span,.name span { margin:0 15px 0 5px;}
.inputBtn { width:213px; padding:0 5px; height:35px; line-height:35px; background:url(../images/input_bg.png) no-repeat;}
.name label { display:inline}
.tip { font-size:12px; color:#999; padding:10px 0 0 5px; display:block}
.submit {width:320px; text-align:center;}

.onError { color:#710003; font-size:12px; padding-top:10px; text-align:center; display:block}

.query h2 { font-size:16px; font-weight:normal; margin-bottom:10px}
.popup {width:300px; height:148px; margin:-74px 0 0 -150px; overflow:hidden; position:fixed;top:50%; left:50%; z-index:101; display:none}
#backgroundPopup {background:#000;width:100%;position:absolute;top:0;left:0;z-index:100;}
.popupwin { position:relative}
.close{ cursor:pointer; position:absolute; right:10px; top:10px;}

.hot {padding:20px 20px 20px 15px;height:43px; background:url(../images/hot_bg.jpg) repeat-x; overflow:hidden;}
.hot dt,.hot dd { float:left}
.hot dt {width:77px; height:48px; overflow:hidden;}
.hot dd {width:70%; height:48px; overflow:hidden; padding-left:15px;}
.hot dd h6,.hot dd h6 a { color:#FFF}
.hot dd p { padding-top:5px;}
.hot dd p,.hot dd p a { color:#ccc}
.hot dd h6,.hot dd p { font-size:12px;}
.hot dt img {border:solid 1px #404040;}
.demeanour { padding-bottom:30px;}
/*.hotImg { display:block;}*/
.demeanour .demeIMG { text-align:center;}
.demeanour h2 { font-size:16px; text-align:center; padding:25px 20px 20px 20px;}
.demeanour p { line-height:20px; color:#dcdddd; font-size:12px; padding:0 20px;}

.title_service { height:26px; padding:7px 0 7px 20px;background:url(../images/title_sells.jpg) repeat-x;}
.title_service li {width:77px; font-size:14px; text-align:center; font-weight:bold; font-family:"Microsoft YaHei"; line-height:26px; float:left; cursor:pointer}
.title_service li.on { color:#9a9a9c; background:url(../images/on_bg.jpg) no-repeat;}
.concentService .title { padding:25px 0 0 0; text-align:center;}
.concentService .cz { padding:30px 15px;}
.concentService .cz p { font-size:12px; color:#969697; line-height:20px;}
.concentService .cz .img { display:block; text-align:center; padding:40px 0 25px 0;}
.concentService .cz dl { border:1px solid #363636; padding:5px; margin-top:15px;}
.concentService .cz dt { font-size:12px; font-weight:bold; height:26px; line-height:26px; padding:0 0 5px 45px}
.concentService .cz dt.ico1 { background:url(../images/service_ico1.png) no-repeat;}
.concentService .cz dt.ico2 { background:url(../images/service_ico2.png) no-repeat;}
.concentService .cz dt.ico3 { background:url(../images/service_ico3.png) no-repeat;}
.concentService .cz dt.ico4 { background:url(../images/service_ico4.png) no-repeat;}
.concentService .cz dt.ico5 { background:url(../images/service_ico5.png) no-repeat;}
.concentService .cz dt.ico6 { background:url(../images/service_ico6.png) no-repeat;}
.concentService .cz dt.ico7 { background:url(../images/service_ico7.png) no-repeat;}
.concentService .cz dt.ico8 { background:url(../images/service_ico8.png) no-repeat;}
.concentService .cz dt.ico9 { background:url(../images/service_ico9.png) no-repeat;}
.concentService .cz dd  {color:#969697;font-size:12px;}
.concentService .Text { padding:20px;}
.concentService .Text h3 {font-size:14px; margin-top:20px;}
.concentService .Text p { font-size:12px; color:#8c8c8d; line-height:25px; margin-top:5px;}

.configure li {position:relative;}
.configure li h2 { font-size:16px; height:45px; line-height:45px; padding:0 0 0 15px; background:url(../images/menu_conBg.jpg) repeat-x;}
.configure li h2 span { font-size:12px; color:#959595; padding-left:15px;}
.configure li h3,.configure li h5 {cursor:pointer}
.configure li h3 { height:45px;background:url(../images/menu_conBg.jpg) repeat-x; padding-left:15px; overflow:hidden;}
.configure li .conMenu { height:45px;}
.configure li h4 a { position:relative;}
.configure li h4 a span { position:absolute; right:65px; top:0}
.configure li h3 span { position:absolute; right:10px; top:8px}
.configure li h4,.configure li h5 {height:40px; line-height:40px; font-size:12px; padding:0 0 0 15px; background:#545454 url(../images/list_up.png) no-repeat 97% center; margin-top:1px; cursor:pointer}
.configure li h4 a,.configure li h5 a { width:320px; height:40px; display:block}
.configure li h4.change,.configure li h5.change {background:#545454 url(../images/list_down.png) no-repeat 97% center;}
.tabDeploy { background:#3a3a3a; display:none}
.tabDeploy td { font-size:12px; padding:10px 5px; text-align:center; border-top:solid 1px #000; border-right:solid 1px #000}
.notes {color:#898989; font-size:14px; text-align:center; padding:10px 0 0 0;}

/*~~~~~~~~~~~~~~~~download*/
#download{ height:512px; background:url(../images/bg_download.jpg) no-repeat; position:relative;}
#download .down{ display:block;width:220px; height:40px;  position:absolute; left:54px;}
#download .down_iphone{ top:52px;}
#download .down_andriod{ top:82px;}
#download .down_tvc{ top:147px;}

/*footer*/
.footer {width:100%;padding-top:25px;position:relative;}
.footer ul {width:320px; margin:0 auto;}
.footer .cxkj a {width:150px; height:34px; line-height:34px; font-size:14px; font-family:"Microsoft YaHei"; display:block; text-align:center; background:url(../images/cxkj_bg.png) no-repeat; margin:0 auto;}
.telephone {width:190px; height:30px; line-height:30px; padding:0 0 0 50px; font-size:14px; font-family:"Microsoft YaHei"; background:url(../images/telephone.png) no-repeat; margin-left:64px;}
.telephone a { color:#FFF;}
.shareBox { height:20px; padding-left:18px}
.shareBox span { font-size:12px; padding-right:10px;float:left}
.shareBox .weibo { background:url(../images/ico_weibo.png) no-repeat;padding-left:20px;}
.shareBox .share { position:relative; top:-1px;}
.shareBox .weixin { background:url(../images/ico_weixin.png) no-repeat;padding-left:20px;}
.yy { height:32px; overflow:hidden; position:relative;}
.button_yy,.button_search {width:126px; height:32px; line-height:32px; color:#8b8b8c; margin-left:20px; font-size:14px; display:block}
.button_yy a,.button_search a { padding:2px 0 0 50px; color:#8b8b8c; display:block;}
.button_search { background:url(../images/button_search.png) no-repeat; position:absolute; right:20px; top:0}
.button_yy { background:url(../images/button_yy.png) no-repeat; padding-right:15px; border-right:solid 1px #2a2b2c;}
.copyright {color:#4f4f4f; text-align:center; font-size:12px; padding:20px 0;}


/*
 *	update 2013.10.10 Start
 */
#fee_mobile { position:relative; padding:0 0 50px 0;}

#fee_mobile .entry { overflow:hidden; width:280px; margin:auto; padding:20px 0 0 0;}
#fee_mobile .entry label { display:block; float:left; width:110px; height:35px; line-height:35px; font-size:16px;}
#fee_mobile .entry .form_input { float:left; width:150px; height:35px; line-height:35px; padding:0 5px; font-size:16px;}
#fee_mobile .entry .radio_input { float:left; margin:10px 0 0 0;}
#fee_mobile .entry .radio_span { display:block; float:left; margin:8px 15px 0 0;}
#fee_mobile .entry select { float:left; width:170px; height:35px; line-height:35px; font-size:16px;}

#fee_mobile .tip { width:240px; margin:auto;}
#fee_mobile .tip input { float:left;}
#fee_mobile .tip span { display:block; float:left;}

#fee_mobile .btn_sub { text-align:center;}

#fee_mobile .msg { text-align:center; color:#F00; display:none;}

#fee_mobile .popup_submit { position:absolute; z-index:20; top:0; left:0; width:100%; height:100%; background: #000; filter:alpha(opacity=90); opacity: 0.90; text-align:center; display:none;}
#fee_mobile .popup_submit img { margin:30% 0 0 0;}
/*
 *	update 2013.10.10 End
 */