@charset "utf-8";
/* CSS Document */

.all_list{ overflow:hidden; width:100%;background:white;border-top:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;padding-top:7px;}
.all_list li{ width:30%; float:left; font-size:14px; color:#4f4f4f; padding:12px 3px; text-align:center; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space: nowrap; overflow:hidden;}

.top_logo{ padding-left:5px;}
.top_right{ float:right; padding-right:5px;}
.top_right ul{ padding:10px 0; float:right;}
.top_right ul li{ float:left; padding:0 5px;}

.banner{ width:100%; overflow:hidden; height:163px;}
.banner ul#BanCont { width:100%; overflow:hidden; height:161px; position:relative;}
.banner ul#BanCont li { position:absolute; top:0; left:0; width:100%; overflow:hidden; height:161px;}

.home_page_logo{background:url(/tpl/User/default/common/images/home_page.png) no-repeat 0 0;background-size: 140px 40px; height:40px;width:140px;}

.banner_link { width:100%; overflow:hidden;}
.banner_link li{ float:left; width:20%; height:2px; background-color:#d3d3d3; font-size:0;}
.banner_link .banner_link_red1 { background-color:#c00f18;}
.banner_link .banner_link_red2 { background-color:#c00f18;}

.btn_big{ width:100%; overflow:hidden;}
.btn_big li{ float:left; width:100px; height:98px;border:1px solid #D9D9D9; line-height:49px; background:white; color:#4f4f4f; font-size:14px; text-align:center; font-family:"microsoft yahei", Arial, SimSun; padding:0 2px; overflow:hidden;}
.btn_big li a{ width:100px; height:49px; display:block;}
.btn_big li a span{ display:block;margin-top:-10px;}

.pr_list{ overflow:hidden; padding:5px;background:white;border-top:1px solid #D9D9D9;border-bottom:1px dashed #D9D9D9;}
.pr_list_frist{border-left:1px dashed #D9D9D9;}
.pr_list_frist ul { float:right;}
.pr_list_frist li { float:left; color:#4f4f4f; background-color:#e9e9e9; margin:0 5px; height:17px; line-height:17px; overflow:hidden; padding:0 5px; cursor:pointer;}
.pr_list_frist .pr_list_frist_link{ color:#FFF; background:url(/tpl/Wap/default/common/images/weTall/pr_list_frist_link.jpg) no-repeat center top; height:21px;}
.pr_list_second ul{ overflow:hidden;}
.pr_list_second li { color:#666666; border:1px solid #dddddd; float:left; padding:3px 5px; margin:5px; white-space: nowrap; }
.pr_list_more{ font-size:14px; color:#BFBFBF;  overflow:hidden; margin-right:35px;text-align:right;}
.pr_list_more a,.pr_list_more a:link,.pr_list_more a:visited{ color:#c00f18;margin-right:15px;}
.pr_list_more a:hover{ color:#1C86EE; text-decoration:underline;}

.allcate{width:100%;border-left:7px solid #1874CD;font-weight:700;color:#668B8B;  padding-left:10px;margin-top:10px;font-size:14px;border-bottom:1px dashed #1874CD;}
.childcate{ float:none;margin-top:5px;}
.childcate ul { float:none;}
.childcate li { display:inline-block;font-size:13px;font-weight:500; color:#4f4f4f; background-color:#e9e9e9; margin:5px 5px; height:17px; line-height:17px; overflow:hidden; padding:0 5px; cursor:pointer;}


.pr_link{ width:100%; overflow:hidden;}
.pr_link li{ font-size:14px; color:#666666; border:1px solid #dddddd; padding:8px; margin:8px 0; overflow:hidden;}
.pr_link span{ color:#c00f18; float:right;}

/* ---------------new product --------*/
.newPro{ background-image:url('/tpl/Wap/default/common/images/weTall/new.png');
		 background-position:0px 0px;
		 width:64px;
		 height:64px;
		 margin-top:8px;}
.tuanPro{ background-image:url('/tpl/Wap/default/common/images/weTall/recom.png');
		 background-position:0px 0px;
		 width:64px;
		 height:64px;
		 margin-top:8px;}
.mailPro{ background-image:url('../../images/weTall/canyin.gif');
		 background-position:0px 0px;
		 background-size:64px 64px;
		 width:64px;
		 height:64px;
		 margin-top:8px;}
/* ---------- king ---------- */
.Pr_list_Cont { width:100%; position:relative; height:145px; overflow:hidden; background:white;border-bottom:1px solid #D9D9D9;}
.pr_list_second { position:absolute; left:0; top:0; width:100%; overflow:hidden;}

.banner_Cont { width:100%; position:relative; height:230px; overflow:hidden;}
.pr_list_3 {  position:absolute; left:0; top:0; width:100%; overflow:hidden;}

/*主题馆*/
.clother{
	background:#fff;
	width:151px;
	height:80px;
	padding-top:15px;
	margin:1px;
	float:left;
	border:1px solid #d9d9d9;
}
.clother img{
	display:block;
	margin:-45px 0px 0px 79px;
}
.clother p{
	margin-left:8px;
}
.yifu{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#8B2323;
	font-weight:700;
}
.meishi{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#EE3A8C;
	font-weight:700;
}
.haoshu{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#3A5FCD;
	font-weight:700;
}
.huazhuang{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#8B6914;
	font-weight:700;
}
.jiadian{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#4F94CD;
	font-weight:700;
}
.shenghuo{
	margin:0px 8px 0px 10px;
	display:block;
	padding-top:10px;
	font-size:15px;
	color:#7FFF00;
	font-weight:700;
}
.themeZone{
	margin-top:10px;
	float:none;
	height:260px;
	width:100%;	
	background:#fff;
}
.titlezone{
	border-bottom:1px dashed #d9d9d9;
	width:100%;
	height:20px;
	background:#fff;
}
.FloatLeft img{
	margin-left:5px;
	border:1px solid #d9d9d9;
	box-shadow:1px 1px 5px #888888,
	 		   2px 2px 5px #888888,
			   3px 3px 5px #888888;
}