@charset "utf-8";
/* CSS Document */
/* -------------------- Site:手机商城（Micronet）  Author: yu  Updated:޸ 2013-7-24 16:57:22  Updated by: micronet -------------------- */ 

/* -------------------- Website initialization -------------------- */
* {padding:0; margin:0;}
html,body,div,span,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,img,a { border:none;}
table{ border-collapse:collapse;}
div,body { margin:0 auto;}
html,body { max-width:320px; margin:0 auto;background:#fff;}
body { overflow-x:hidden; font-size:12px; line-height:18px; font-family:Arial, Helvetica, sans-serif,SimSun; color:#666666; background-color:#F5F5F5}
*html/*,*html body*/{ background:#F5FFFA;background-image:url(about:blank); background-attachment:fixed;}
a:link,a:visited{color:#666666; text-decoration:none;}
a:hover{color:#666666; text-decoration:none;}
a:active{color:#666666; text-decoration:none;}
img{border:none; float:none; vertical-align:top;}
ul,ol {list-style:none;}
h1{font-size:22px; font-weight:500;}
h2{font-size:20px; font-weight:500;}
h3{font-size:18px; font-weight:500;}
h4{font-size:16px; font-weight:500;}
h5{font-size:14px; font-weight:500;}
h6{font-size:12px; font-weight:500;}
p {line-height:20px;}

.PicIEPng img { behavior:url("iepngfix.htc");}
.PicIEPng input { behavior:url("iepngfix.htc");}
.PicIEPng{color:white;font-size:18px;font-weight:700;}
/* -------------------- menu --------------------   */


/* -------------------- top --------------------  */
.top { width:320px; height:100px;max-width:320px;}
.TopMin320 { max-width:320px;}
*html .top_bg {position:absolute; top:expression(eval(document.documentElement.scrollTop));max-width:320px;}
.top_bg{ width:320px; left:10; height:45px; background:black;opacity:0.9; position:fixed; top:0; z-index:99999;}
/* ---------- king start ---------- */
.Top_King_top { width:100%; height:45px; overflow:hidden;}
/* ---------- king end ---------- */
/* -------------------- banner --------------------  */

/* -------------------- bottom --------------------  */
.BottomKingTop { width:100%; height:44px;}
.BottomBg { width:100%; left:0; height:44px; background:url(/tpl/Wap/default/common/images/weTall/BottomBg.jpg) repeat-x; position:fixed; bottom:0; z-index:99999;}
。html .BottomBg {position:absolute; top:expression(offsetParent.scrollTop+document.documentElement.clientHeight-this.offsetHeight);}
.BottomBg .Bottom1Width { width:320px; position:relative; height:43px; background:url(/tpl/Wap/default/common/images/weTall/BottomBor.jpg) no-repeat left bottom; padding-top:1px; z-index:5;}
.BottomBg .Bottom1Width li { float:left; width:106px; font-size:14px; line-height:43px; text-align:center; background:url(/tpl/Wap/default/common/images/weTall/BottomBor.jpg) no-repeat right bottom; cursor:pointer;}

.Bottom2Width { width:320px; position:absolute; z-index:999; left:50%; top:0; margin-left:-160px; height:0px;}
.BottomLiFirst1 { position:absolute; bottom:0px; left:100px; width:100px; display:none; height:235px; overflow:hidden; padding-left:5px;}
.BottomLiFirst1 .BottomLiFirstA { position:absolute; width:8px; height:8px; background:url(/tpl/Wap/default/common/images/weTall/KingLiBg5.png) no-repeat; left:0; top:28px;}
.BottomLiFirst2 { position:absolute; bottom:0px; left:205px; width:100px; display:none; height:235px; overflow:hidden; padding-left:5px;}
.BottomLiFirst2 .BottomLiFirstA { position:absolute; width:8px; height:8px; background:url(/tpl/Wap/default/common/images/weTall/KingLiBg5.png) no-repeat; left:0; top:28px;}
.BottomLiFirst3 { position:absolute; bottom:0px; left:105px; width:100px; display:none; height:235px; overflow:hidden; padding-right:5px;}
.BottomLiFirst3 .BottomLiFirstA { position:absolute; width:8px; height:8px; background:url(/tpl/Wap/default/common/images/weTall/KingLiBg6.png) no-repeat; right:0; top:28px;}

.BottomLi { position:absolute; bottom:0px; width:100px; height:0px; overflow:hidden;}
.KingLiBg { width:100%; overflow:hidden;}
.KingLiCont { width:90px; overflow-x:hidden; max-height:210px; padding:0 5px; font-size:14px; background:url(/tpl/Wap/default/common/images/weTall/KingLiBg2.png) repeat-y; text-align:center; overflow-y:auto; *height:expression(this.width>210 ? "210px":this.width);}
.KingLiCont li { width:100%; overflow:hidden; height:36px; padding:2px 0 3px; line-height:36px; background:url(/tpl/Wap/default/common/images/weTall/tt.jpg) no-repeat center top;}
.KingLiCont li a { display:inline-block; width:100%; height:100%;}
.KingLiCont .KingLiContFirst { background-image:none;}
.BottomLi1 { left:0;}
.BottomLi2 { left:105px;}
.BottomLi3 { left:210px;}

.BottomBg .Bottom1Width li span.Bottom1WidthIco1 { background:url(/tpl/Wap/default/common/images/weTall/Bottom1WidthIco.gif) no-repeat left center; padding-left:13px;}
.BottomBg .Bottom1Width li span.Bottom1WidthIco2 { background:url(/tpl/Wap/default/common/images/weTall/Bottom1WidthIco.gif) no-repeat left center; padding-left:13px;}
.BottomBg .Bottom1Width li span.Bottom1WidthIco3 { background:url(/tpl/Wap/default/common/images/weTall/Bottom1WidthIco.gif) no-repeat left center; padding-left:13px;}

.BottomBtn { width:38px; position:absolute; left:50%; margin-left:-19px; top:-14px; height:14px; background-image:url(/tpl/Wap/default/common/images/weTall/BottomKingTop.gif); background-repeat:no-repeat; background-position:center top; cursor:pointer;}
.BottomBtn.Active { background-position:center bottom;}


/* -------------------- width --------------------  */
.widthMAX { width:100%; overflow:hidden;}
.widthMAX2 { width:100%; overflow:hidden;background:white;border-bottom:1px dashed #D9D9D9;}
.MAXwidth { width:100%; min-width:320px; max-width:480px;}
.MinWidth { width:320px; overflow:hidden;}


/* -------------------- other --------------------  */
.title{ font-size:14px; color:#4f4f4f; text-align:center; border-left:6px solid #c00f18;padding-left:7px;}

.search_all{ width:99%; overflow:hidden; padding:4px 0;}
.search_content{ width:240px; height:33px; border:2px solid #d3d3d3; -moz-border-radius: 8px;-khtml-border-radius: 8px;-webkit-border-radius: 8px;border-radius: 8px; background:white; padding-left:0px;}
.search_textbox{ width:170px; height:33px; line-height:35px; border:0; font-size:14px; color:#c4c4c4; text-align:left; overflow:hidden; background:none;}
.search_btn{ padding:0px 5px 0 0;float:left;display:block;margin-top:0px;}
#search_method{ display:block;float:left;margin-top:-1px;width:68px;height:34px; border:1px solid #d3d3d3;-moz-border-radius: 5px;-khtml-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}

.top_title_all{ padding:10px;}
.top_title{ width:100%; height:45px; line-height:45px; color:#FFF; font-size:14px; text-align:center;}
.top_title_back { float:left; margin-top:-45px; padding:13px 0 0 11px;}
.top_title_home { float:right; margin-top:-45px; padding:13px 11px 0 0;}
.top_title_home li{ float:left; padding:0 3px;}

.minus,.Plus { float:left; cursor:pointer;}
.KingMum {float:left; border:1px solid #c9c9c9; height:13px; line-height:13px; margin:0 3px; width:45px; font-weight:bold; color:#666666; text-align:center; }

.Maximum { display:none; width:0; height:0; visibility:hidden;}

.widthTxt{ width:180px;}
.widthTxt2{ width:260px;}

.pr_showList_page{ padding:0 13px; overflow:hidden;}
.pr_showList_page li{ width:78px; height:38px; line-height:38px; text-align:center; color:#4f4f4f; font-size:14px; font-family:"microsoft yahei", Arial, SimSun; background:url(/tpl/Wap/default/common/images/weTall/pr_showList.jpg) no-repeat center top; float:left; padding:0 10px; margin:20px 0; }
.pr_showList_page .pr_showList_pageX{ background:url(/tpl/Wap/default/common/images/weTall/pr_showList_jtdown.jpg) no-repeat center top;}
.pr_showList_page li select { border:0; background:none; padding-right:5px; -webkit-appearance:none; -moz-appearance:none; color:#4f4f4f; font-size:14px;}

/* -------------------- footer --------------------  */
.footer_function{ text-align:center; font-size:12px; padding:5px 0;}
.order{ background:url(/tpl/Wap/default/common/images/weTall/order_bg.jpg) left no-repeat; padding-left:15px;}
.shopping_car{background:url(/tpl/Wap/default/common/images/weTall/shopping_car_bg.jpg) left center no-repeat; padding-left:17px;}
.help{ background:url(/tpl/Wap/default/common/images/weTall/help_bg.jpg) left center no-repeat; padding-left:17px;}
.into{ background:url(/tpl/Wap/default/common/images/weTall/into.gif) left center no-repeat; padding-left:17px;}

.footer_bg{  height:31px; line-height:31px; background-color:#e9e9e9; color:#4f4f4f; padding:0 15px;}
.footer_bg span{ float:right; padding:7px 0 0; height:18px; line-height:18px;}
.footer_txt{ width:100%; overflow:hidden; color:#666666; text-align:center; padding:5px 0; font-family:Verdana, Geneva, sans-serif;}

/* -------------------- font-size -------------------- */

/* -------------------- color --------------------  */
.Cwhite { color:white; }
.Cred { color:#b7252c;}
.Cpublic { color:#0033FF;}

/* -------------------- Basic Settings -------------------- */
.FloatLeft{float:left; margin:0;}
.FloatRight { float:right; margin:0;}
.MarginTop { margin-top:15px;}
.MarginTop5 { margin-top:5px;}
.MarginTop10 { margin-top:10px;}
.OverHid { overflow:hidden;}
.clear{display:block; clear:both; overflow:hidden; height:0px; }
.ellipsis{ display:block; overflow:hidden; text-align:left; -o-text-overflow:ellipsis; text-overflow:ellipsis; white-space: nowrap; }
.AlignCenter { text-align:center;}

.green{color:Green;}