@CHARSET "UTF-8";
.abody2{
  background:black;
  padding:10px 18px 20px 18px;
  font-size:14px;
  color:white;
  -moz-border-radius: 25px;      /* Gecko browsers */
  -webkit-border-radius: 25px;
   opacity:0.5;
	
}
.abody2 img{
	width:150px;
	height:100px;
}