div,a{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}

body{
    margin: 0;padding: 0;
    overflow-x:hidden;
    position: relative;
}


a{
    color: inherit;
    text-decoration:none;
}

a:link{
    color:inherit;
    text-decoration:none;
}
a:visited{
    color:inherit;
    text-decoration:none;
}

/* Icon sprite
-----------------------------------------------------------------------------------------------------------*/

/* plus minus */
.icon-plus {
    background-position: 	-1px -1px;
}
.icon-minus {
    background-position: 	-37px -1px;
}
/* delete/close */
.icon-delete {
    background-position: 	-73px -1px;
}
/* arrows */
.icon-arrow-r {
    background-position: 	-108px -1px;
}
.icon-arrow-l {
    background-position: 	-144px -1px;
}
.icon-arrow-u {
    background-position: 	-180px -1px;
}
.icon-arrow-d {
    background-position: 	-216px -1px;
}
/* misc */
.icon-check {
    background-position: 	-252px -1px;
}
.icon-gear {
    background-position: 	-288px -1px;
}
.icon-refresh {
    background-position: 	-323px -1px;
}
.icon-forward {
    background-position: 	-360px -1px;
}
.icon-back {
    background-position: 	-396px -1px;
}
.icon-grid {
    background-position: 	-432px -1px;
}
.icon-star {
    background-position: 	-467px -1px;
}
.icon-alert {
    background-position: 	-503px -1px;
}
.icon-info {
    background-position: 	-539px -1px;
}
.icon-home {
    background-position: 	-575px -1px;
}
/* search */
.icon-search,
.icon-searchfield:after {
    background-position: 	-611px -1px;
}
/* checkbox radio */
.icon-checkbox-on {
    background-position: 	-647px -1px;
}
.icon-checkbox-off {
    background-position: 	-683px -1px;
}
.icon-radio-on {
    background-position: 	-718px -1px;
}
.icon-radio-off {
    background-position: 	-754px -1px;
}
/* menu edit */
.icon-bars {
    background-position: 	-788px -1px;

}
.icon-edit {
    background-position: 	-824px -1px;
}
body{font-family:Microsoft YaHei,宋体;}
.weimob-loader{
    position: fixed;
    width:120px;height: 120px;
    background: #ffffff url(../../img/ajax.gif) center no-repeat;
    top:50%;margin-top: -60px;
    left:50%;margin-left: -60px;

    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
}

.weimob-masklayer{
    position: fixed;
    top:0;left:0;
    right:0;bottom: 0;
    z-index: 99999;
    opacity: 0;
    margin: 0;padding: 0;
}

.weimob-masklayer.gray{
    opacity: 0.8;
    background-color: #C0C0C0;
}

.weimob-masklayer.black{
    opacity: 0.6;
    background-color: #000000;
}


.weimob-page{
	margin: 0;padding: 0;
	position: relative;
	
}

.weimob-content{
	margin: 3px;
	position: relative;
}

/*weimob-navbar*/
.weimob-navbar{
	position: relative;
	width: 100%;
	height: 42px;
	background: #474747;
	background:-moz-linear-gradient(top,#212C30,#121619);
	background:-ms-linear-gradient(top,#212C30,#121619);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));
	white-space:nowrap;
	overflow: hidden;
}

.weimob-navbar .weimob-navbar-item{
	width: 25%;
	height: 100%;
	display: inline-block;
	border: none;
	margin: 0;padding: 0;
	position: relative;
}


.weimob-navbar.easycall-no .weimob-navbar-item{
    width: 33.33333%;
    height: 100%;
    display: inline-block;
    border: none;
    margin: 0;padding: 0;
    position: relative;
}



.weimob-navbar .weimob-navbar-item .icon{
	margin: 12px auto;
	width: 24px;height: 24px;
	position: relative;
	background: url(../images/weimob-icons.png) no-repeat;
    zoom:0.8;
}

.weimob-navbar .weimob-navbar-item.back .icon{
	background-position: 0 0;
}
.weimob-navbar .weimob-navbar-item.home .icon{
	background-position: -32px 0;
}

.weimob-navbar .weimob-navbar-item.easycall .icon{
    background-position: -64px 0;
}

.weimob-navbar .weimob-navbar-item.easycall.default-icon-type1 .icon{
    background-position: -64px 0;
}
.weimob-navbar .weimob-navbar-item.easycall.default-icon-type2 .icon{
    background-position: -196px 0;
}
.weimob-navbar .weimob-navbar-item.easycall.default-icon-type3 .icon{
    background-position: -166px 0;
}


.weimob-navbar.easycall-no .weimob-navbar-item.easycall {
    display: none;
}

.weimob-navbar .weimob-navbar-item.quick .icon{
	background-position: -96px 0;
}

.weimob-navbar .seg{
	position: absolute;
	width: 2px;height: 32px;
	background: url(../images/weimob-icons.png) -138px 0 no-repeat;
	right: -1px;
	top: 50%;
	margin-top: -16px;
}

/*banner*/
.weimob-banner{
    display: block;
    overflow: hidden;
    height: 160px;
    position: relative;
	overflow: hidden;
    white-space:nowrap;
    width: 100%;
}

.tpl-banner-item{
    display: inline-block;
    height: 100%;
    width: inherit;
    position: relative;
    z-index: 1;
}
.weimob-banner-icon{
    height: 100%;
    width: inherit;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.weimob-banner-title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px;
}
.weimob-banner-title .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #121212;
    opacity: 0.6;
    z-index: 1;
}

.weimob-banner-title .content{
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    line-height: 24px;
}

.weimob-banner-toolbar{
    position: absolute;
    right: 0;
    z-index: 99;
    bottom: 0;
    height: 24px;
    line-height: 24px;
}

.weimob-banner-toolbar-item{
    display: inline-block;
    border: 1px solid #C0C0C0;
    background: #C0C0C0;
    width: 10px;
    height: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    overflow: hidden;
}

.weimob-banner-toolbar-item.selected{
    border: 1px solid #ffffff;
    background: #000000;
}

.weimob-list-item{
	position: relative;
	display: block;
	height: 68px;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fff ), to( #f1f1f1 ));
	background-image: -webkit-linear-gradient( #fff , #f1f1f1 );
	background-image:    -moz-linear-gradient( #fff , #f1f1f1 );
	background-image:     -ms-linear-gradient( #fff , #f1f1f1 );
	background-image:      -o-linear-gradient( #fff , #f1f1f1 );
	background-image:         linear-gradient( #fff , #f1f1f1 );
	overflow: hidden;
	border-bottom:1px solid #ccc;
}

.weimob-list-item-line{
	display: table-cell;
	height: inherit;
	background-position: center;
    background-repeat: no-repeat;
	padding-left: 60px;
	vertical-align: middle;
	padding-right: 32px;

}

.weimob-list-item-image{
	position: absolute;
	display: block;
	left: 6px;
	width: 48px;
	height: 48px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/weimob-icons.png);
	top:50%;margin-top: -24px;
}

.weimob-list-item-title{
	color: #000000;
	font-size: 16px;
	white-space: nowrap;
	zoom: 1;
}

.weimob-list-item-summary{
    margin-top: 3px;
	font-size: 12px;
	color: #C0C0C0;
	line-height: 12px;
	max-height: 23px;
	overflow: hidden;
}

.weimob-list-item-icon{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	background-color: #666;
	background-color: rgba(0,0,0,.4);
	background-image: url(../../img/icons-18-white.png) ;
	background-repeat: no-repeat;
    border-radius: 9px;
    -moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.weimob-list-item-icon-two{
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	background-image: url(../../img/icons-18-black.png) ;
	background-repeat: no-repeat;
    border-radius: 9px;
    -moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}

.weimob-copyright{
	text-align: center;
	height: 48px;
	line-height: 48px;
}

.weimob-support{
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 12px;
	height: 24px;
	line-height: 24px;
	background: #C0C0C0;
	background:-moz-linear-gradient(top,#303030,#383838);
	background:-ms-linear-gradient(top,#303030,#383838);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#383838));
	white-space:nowrap;
	color: #639639!important;
}

.weimob-quickpanel{
    width: 17em;
    min-height: 320px;
    display: none;
}

.weimob-quickpanel-box{
    position: absolute;
    display: none;
    z-index: 999;
    top:0;
    min-height:100%;
    background: #000000;
    border: 1px solid #444;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222)); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #444 , #222); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #444 , #222); /* FF3.6 */
    background-image:     -ms-linear-gradient( #444 , #222); /* IE10 */
    background-image:      -o-linear-gradient( #444 , #222); /* Opera 11.10+ */
    background-image:         linear-gradient( #444 , #222);
}


.weimob-quickpanel-toolbar{
    position: relative;
    height: 42px;
    background: #444;
    line-height: 42px;
    /*
    background:-moz-linear-gradient(top,#212C30,#121619);
    background:-ms-linear-gradient(top,#212C30,#121619);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#212C30), to(#121619));
    */

    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#333));
    background-image: -webkit-linear-gradient( #444 , #333);
    background-image:    -moz-linear-gradient( #444 , #333);
    background-image:     -ms-linear-gradient( #444 , #333);
    background-image:      -o-linear-gradient( #444 , #333);
    background-image:         linear-gradient( #444 , #333);
}

.weimob-quickpanel-toolbar-title{
    position: relative;
    margin-right: 10px;
    height: inherit;
    line-height: inherit;
    color:#ffffff;
    text-align: right;
}

.weimob-quickpanel-toolbar-close{
    position: absolute;
    top:50%;margin-top: -9px;
    left: 3px;
    z-index: 999;

    width: 18px;
    height: 18px;
    background-color: #666;
    opacity: 0.6;
    background-color: rgba(0,0,0,.4);
    background-image: url(../images/icons-18-white.png) ;
    background-repeat: no-repeat;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}

.weimob-quickpanel-animate-push{
	-webkit-transform: translate3d(-17em,0,0);
	-moz-transform: translate3d(-17em,0,0);
	transform: translate3d(-17em,0,0);
}

.weimob-quickpanel-animate{
	-webkit-transition: -webkit-transform 350ms ease;
	-moz-transition: -moz-transform 350ms ease;
	transition: transform 350ms ease;	
}

.weimob-quickpanel .weimob-list .weimob-list-item{
    height: 42px;
    background: #333;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #444 ), to( #2d2d2d )); /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient( #444 , #2d2d2d ); /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient( #444 , #2d2d2d ); /* FF3.6 */
    background-image:     -ms-linear-gradient( #444 , #2d2d2d ); /* IE10 */
    background-image:      -o-linear-gradient( #444 , #2d2d2d ); /* Opera 11.10+ */
    background-image:         linear-gradient( #444 , #2d2d2d );
    border-bottom:none;
}

.weimob-quickpanel .weimob-list .weimob-list-item .weimob-list-item-title{
    color: #fff;
}

.weimob-quickpanel .weimob-list .weimob-list-item .weimob-list-item-line{
    padding-left: 10px;
}

.weimob-easycall{
    position: fixed;
    display: none;
    width: 280px;
    height: 280px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    top: 50%;left: 50%;
    margin-top: -140px;margin-left: -140px;
    z-index: 99999;
    overflow: hidden;
    text-shadow: none;
    color: #FFFFFF;
    border: 1px solid #363636;
}

.weimob-easycall .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
    z-index: 0;
}

.weimob-easycall-item{
    position: absolute;
    width: 70px;height: 70px;
    z-index: 10;
    display: block;
}

.weimob-easycall-item .icon{
    position: relative;
    width: 36px;height: 36px;
    margin-left: auto;margin-right: auto;
}

/*拨号类型*/
.weimob-easycall-item.type2 .icon{
    background: url(../images/weimob-icons.png) no-repeat 0 -32px;
}
.weimob-easycall-item.type1 .icon{
    background: url(../images/weimob-icons.png) no-repeat -48px -32px;
}
.weimob-easycall-item.type3 .icon{
    background: url(../images/weimob-icons.png) no-repeat -96px -32px;
}

.weimob-easycall-item .text{
    position: relative;
    height: 18px;
    font-size: 12px;
    text-align: center;
    margin-left: auto;margin-right: auto;
    color: #FFFFFF;
    text-shadow: none;
    margin-top: 5px;
}

/*2个快捷*/
.weimob-easycall.child2 .weimob-easycall-item.no0{
    top: 50%;margin-top: -35px;
    left: 20px;
    display: block;
}
.weimob-easycall.child2 .weimob-easycall-item.no1{
    top: 50%;margin-top: -35px;
    right:20px;
    display: block;
}

/*3个快捷*/
.weimob-easycall.child3 .weimob-easycall-item.no0{
    left: 50%;margin-left: -35px;
    top: 20px;
    display: block;
}
.weimob-easycall.child3 .weimob-easycall-item.no1{
    bottom: 20px;left: 20px;
    display: block;
}
.weimob-easycall.child3 .weimob-easycall-item.no2{
    bottom: 20px;right:20px;
    display: block;
}

/*4个快捷*/
.weimob-easycall.child4 .weimob-easycall-item.no0{
    left: 50%;margin-left: -35px;
    top: 20px;
    display: block;
}
.weimob-easycall.child4 .weimob-easycall-item.no1{
    top: 50%;margin-top: -35px;
    left: 20px;
    display: block;
}
.weimob-easycall.child4 .weimob-easycall-item.no2{
    top: 50%;margin-top: -35px;
    right:20px;
    display: block;
}
.weimob-easycall.child4 .weimob-easycall-item.no3{
    left: 50%;margin-left: -35px;
    bottom:20px;
    display: block;
}

.footer{ color:#CCC; font-size:1rem; text-align:center; width:100%; height:30px;}
.weimob-copyright, .weimob-support {color: #FFFFFF;}
.weimob-copyright {text-align: center;height: 48px;line-height: 48px;}
.weimob-support {text-align: center;text-decoration: none;display: block;font-size: 12px;height: 24px;line-height: 24px;background: #C0C0C0;background: -moz-linear-gradient(top,#303030,#383838);background: -ms-linear-gradient(top,#303030,#383838);background: -webkit-gradient(linear, 0 0, 0 100%, from(#303030), to(#383838));white-space: nowrap;color: #639639!important;}

.top_bar+*{
    padding-top:35px!important;
}