* {
	-webkit-user-select: none; -webkit-tap-highlight-color: rgba(255,255,255,0)
}
* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 1.25em; FONT-FAMILY: "΢���ź�",Arial,Helvetica,sans-serif; BACKGROUND: #f8fafb; COLOR: #333; FONT-SIZE: 14px; -webkit-text-size-adjust: none; -webkit-box-orient: vertical; -webkit-box-align: stretch
}
INPUT {
	-webkit-user-select: text
}
TEXTAREA {
	-webkit-user-select: text
}
section {
	DISPLAY: block
}
nav {
	DISPLAY: block
}
article {
	DISPLAY: block
}
aside {
	DISPLAY: block
}
hgroup {
	DISPLAY: block
}
header {
	DISPLAY: block
}
footer {
	DISPLAY: block
}
INPUT {
	FONT-FAMILY: inherit
}
TEXTAREA {
	FONT-FAMILY: inherit
}
SELECT {
	FONT-FAMILY: inherit
}
BUTTON {
	FONT-FAMILY: inherit
}
TABLE {
	FONT-FAMILY: inherit
}
IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
FIELDSET {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
OL {
	LIST-STYLE-TYPE: none
}
I {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
ADDRESS {
	FONT-STYLE: normal
}
A {
	TEXT-DECORATION: none; -webkit-border-radius: 5px
}
HR {
	DISPLAY: none
}
LEGEND {
	DISPLAY: none
}
.show {
	DISPLAY: block !important
}
.hide {
	DISPLAY: none !important
}
.fc {
	TEXT-ALIGN: center
}
IFRAME {
	LINE-HEIGHT: 0; WIDTH: 0px; HEIGHT: 0px; OVERFLOW: hidden
}
#ct {
	WIDTH: 100%; HEIGHT: auto; OVERFLOW: hidden
}
.hover {
	BACKGROUND: #cbcfd1
}
.hover1 {
	
}
B {
	COLOR: #50b4d7; FONT-WEIGHT: normal
}
.fr {
	FLOAT: right
}
.body_div {
	MARGIN: 0px auto; WIDTH: 100%; HEIGHT: auto; OVERFLOW: hidden
}
.index_div {
	POSITION: relative; WIDTH: 320px
}
.body_bg {
	BACKGROUND: url(img/bg.png); background-size: 94px auto
}
.header {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 14px
}
.logo {
	WIDTH: 81px; BACKGROUND: url(img/logo.png); FLOAT: left; HEIGHT: 22px; background-size: 81px auto
}
A.logo_a {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 81px; PADDING-RIGHT: 2px; DISPLAY: block; FLOAT: left; HEIGHT: 22px; MARGIN-LEFT: 8px; PADDING-TOP: 2px; -webkit-border-radius: 2px
}
.city {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; COLOR: #7c7c7c; FONT-SIZE: 12px; PADDING-TOP: 11px
}
.city_ch {
	MARGIN-TOP: 18px; WIDTH: 7px; BACKGROUND-POSITION: -76px -25px; FLOAT: left; HEIGHT: 4px
}
.login {
	FLOAT: right; COLOR: #3e3e3e; FONT-SIZE: 14px; MARGIN-RIGHT: 5px; PADDING-TOP: 4px
}
.login SPAN {
	MARGIN-LEFT: 1px
}
.login SPAN.login_in {
	TEXT-ALIGN: right; WIDTH: 56px; TEXT-OVERFLOW: ellipsis; DISPLAY: none; WHITE-SPACE: nowrap; COLOR: #7c7c7c; OVERFLOW: hidden
}
.login A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
.search {
	POSITION: relative; PADDING-BOTTOM: 7px; WIDTH: 315px; FLOAT: left
}
.search_input {
	BORDER-BOTTOM: #abaeb0 1px solid; BORDER-LEFT: #abaeb0 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 252px; FLOAT: left; HEIGHT: 30px; MARGIN-LEFT: 10px; BORDER-TOP: #abaeb0 1px solid; BORDER-RIGHT: #abaeb0 1px
}
.search_input INPUT {
	LINE-HEIGHT: 18px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #fff; MARGIN-TOP: 5px; OUTLINE-STYLE: none; PADDING-LEFT: 10px; WIDTH: 220px; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; COLOR: #b6b6b6; FONT-SIZE: 13px; BORDER-LEFT-WIDTH: 0px; -webkit-border-radius: 0; border-radius: 0; -webkit-appearance: none
}
.search_input SPAN {
	MARGIN-TOP: 6px; WIDTH: 18px; DISPLAY: block; BACKGROUND-POSITION: -76px 0px; FLOAT: left; HEIGHT: 18px
}
.search_but {
	BORDER-BOTTOM: #abaeb0 1px solid; BORDER-LEFT: #abaeb0 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 45px; BACKGROUND-POSITION: -29px 0px; FLOAT: left; HEIGHT: 30px; BORDER-TOP: #abaeb0 1px solid; BORDER-RIGHT: #abaeb0 1px solid
}
.search_ajax {
	Z-INDEX: 200; BORDER-BOTTOM: #979797 1px solid; POSITION: absolute; BORDER-LEFT: #979797 1px solid; BACKGROUND-COLOR: #fff; WIDTH: 300px; DISPLAY: none; BORDER-TOP: #979797 1px solid; TOP: 40px; BORDER-RIGHT: #979797 1px solid; LEFT: 10px
}
.search_ajax A {
	WIDTH: 100%; HEIGHT: 100%
}
SPAN.ico_clear {
	DISPLAY: none
}
SPAN.ico_show {
	DISPLAY: block
}
.search_ajax UL {
	WIDTH: 300px
}
.search_ajax UL LI {
	BORDER-BOTTOM: #cfd1d2 1px solid; LINE-HEIGHT: 36px; PADDING-LEFT: 10px; WIDTH: 290px; HEIGHT: 36px; COLOR: #585858
}
.search_ajax UL LI:unknown {
	TEXT-ALIGN: center; WIDTH: 290px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #3e3e3e; FONT-SIZE: 15px
}
.search_ajax UL LI SPAN:first-child {
	PADDING-RIGHT: 22px; COLOR: #585858; FONT-SIZE: 13px
}
UNKNOWN {
	COLOR: #b5bbc4; FONT-SIZE: 11px
}
.search_ajax UL LI SPAN.add_se {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 15%; PADDING-RIGHT: 15px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -50px -76px; FLOAT: right; HEIGHT: 20px; PADDING-TOP: 14px
}
.search_ajax UL LI A {
	WIDTH: 65%; DISPLAY: inline-block; HEIGHT: auto
}
.footer {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #fcfdfd; WIDTH: 100%; FLOAT: left; BORDER-TOP: #e2e2e2 1px solid
}
.footer_01 {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #394b59; FONT-SIZE: 15px; PADDING-TOP: 17px
}
.footer_hover {
	COLOR: #b1b1b1
}
.footer_01 STRONG {
	BORDER-LEFT: #3e3e3e 1px solid
}
.footer_02 {
	PADDING-BOTTOM: 18px; COLOR: #999; FONT-SIZE: 13px
}
.footer_01 A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline-block; COLOR: #394b59; PADDING-TOP: 2px
}
.top_div {
	Z-INDEX: 2000; POSITION: fixed; WIDTH: 44px; BOTTOM: 10px; DISPLAY: none; BACKGROUND: url(img/top.png); HEIGHT: 44px; RIGHT: 10px; background-size: 44px auto
}
.top_div A {
	WIDTH: 100%; DISPLAY: block; HEIGHT: 100%
}
.search_word {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; HEIGHT: 25px; COLOR: #585858; FONT-SIZE: 12px; OVERFLOW: hidden; PADDING-TOP: 8px
}
.search_word SPAN {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline-block; PADDING-TOP: 2px
}
.search_word A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline-block; COLOR: #50b4d7; PADDING-TOP: 2px
}
#alert_box {
	Z-INDEX: 1001; BORDER-BOTTOM: #2a2c30 1px solid; POSITION: fixed; BORDER-LEFT: #2a2c30 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #595d61; MARGIN-TOP: -50px; PADDING-LEFT: 1px; WIDTH: 250px; PADDING-RIGHT: 1px; MARGIN-LEFT: -127px; BORDER-TOP: #2a2c30 1px solid; TOP: 50%; BORDER-RIGHT: #2a2c30 1px solid; PADDING-TOP: 1px; LEFT: 50%; border-radius: 2px; box-shadow: 0 0 3px #c9cbcc
}
#show_mes {
	TEXT-ALIGN: center; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #42474c; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: #fff; PADDING-TOP: 10px
}
#but_div {
	BACKGROUND-COLOR: #42474c; HEIGHT: 40px; BORDER-TOP: #595d61 1px solid
}
#but01 {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 125px; HEIGHT: 40px; COLOR: #fff
}
#but02 {
	TEXT-ALIGN: center; LINE-HEIGHT: 40px; WIDTH: 125px; HEIGHT: 40px; COLOR: #fff
}
#but01 {
	BORDER-RIGHT: #595d61 1px solid
}
#but_div .but_hover {
	BACKGROUND-COLOR: #545f69
}
.msg_box {
	POSITION: relative; MIN-HEIGHT: 240px; WIDTH: 100%; BACKGROUND: url(img/bgimg_404.gif) no-repeat right bottom; CLEAR: both; PADDING-TOP: 50px; background-size: 243px 249px
}
.msg_box .msg_txt {
	PADDING-BOTTOM: 20px; LINE-HEIGHT: 25px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
.msg_box .msg_txt IMG {
	MARGIN: 5px 10px 50px 0px; FLOAT: left
}
.msg_box A {
	POSITION: absolute; BACKGROUND-COLOR: #333; TEXT-INDENT: -100em; WIDTH: 80px; DISPLAY: block; HEIGHT: 40px; OVERFLOW: hidden; TOP: 20px; RIGHT: 10px; opacity: 0
}
.msg_box A.go_home {
	TOP: 158px; RIGHT: 32px
}
.msg_box A.go_prev {
	TOP: 110px; RIGHT: 23px
}
.nobg.msg_box {
	BACKGROUND-IMAGE: none
}
.nobg.msg_box .msg_txt {
	POSITION: absolute; MARGIN-TOP: -35px; MARGIN-LEFT: -95px; TOP: 50%; LEFT: 50%
}
.paging A.hover {
	BACKGROUND: #eceff0
}
#tipsDiv {
	Z-INDEX: 2000; POSITION: fixed; TEXT-ALIGN: center; PADDING-BOTTOM: 5px; LINE-HEIGHT: 24px; PADDING-LEFT: 5px; WIDTH: 190px; BOTTOM: 50px; PADDING-RIGHT: 5px; COLOR: #fff; MARGIN-LEFT: -100px; PADDING-TOP: 5px; LEFT: 50%; border-radius: 8px
}
.dl_nav {
	BORDER-BOTTOM: #d8d9da 1px solid; LINE-HEIGHT: 30px; TEXT-INDENT: 5px; WIDTH: 100%; FLOAT: left; HEIGHT: 32px; COLOR: #7c7c7c; FONT-SIZE: 14px; BORDER-TOP: #d8d9da 1px solid
}
.dl_nav SPAN {
	BORDER-BOTTOM: #f5f6f7 1px solid; TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 30px; OVERFLOW: hidden; BORDER-TOP: #fff 1px solid
}
.dl_nav SPAN FONT {
	WIDTH: 7px; DISPLAY: inline-block; BACKGROUND-POSITION: -45px -61px; HEIGHT: 13px
}
.dl_nav A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; COLOR: #b2b2b2; PADDING-TOP: 5px
}
.googleanalyze {
	DISPLAY: none
}
.downURL {
	PADDING-LEFT: 7px; COLOR: #ec3c12; CLEAR: both; FONT-SIZE: 12px; PADDING-TOP: 5px
}
.downURL A {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; DISPLAY: inline-block; PADDING-TOP: 2px
}
.down_sj {
	BORDER-BOTTOM: #ec3c12 4px solid; BORDER-LEFT: transparent 4px dotted; WIDTH: 0px; DISPLAY: inline-block; HEIGHT: 0px; OVERFLOW: hidden; BORDER-TOP: transparent 4px dotted; MARGIN-RIGHT: -1px; BORDER-RIGHT: transparent 4px dotted; -webkit-transform: rotate(90deg)
}
.index_down {
	WIDTH: 320px; HEIGHT: 118px
}
.indown_bg1 {
	BACKGROUND: url(img/down1.png); background-size: 320px auto
}
.indown_bg2 {
	BACKGROUND: url(img/down2.png); background-size: 320px auto
}
.indown_bg3 {
	BACKGROUND: url(img/down3.png); background-size: 320px auto
}
#index_down_div {
	HEIGHT: 0px; OVERFLOW: hidden; -webkit-transition: height 1500ms linear
}
.banner_down {
	WIDTH: 100%
}
.banner_down IMG {
	WIDTH: 100%; DISPLAY: block
}
.banner_down A {
	WIDTH: 100%; DISPLAY: block; -webkit-border-radius: 0
}
.index_down A {
	WIDTH: 100%; DISPLAY: block; HEIGHT: 100%; -webkit-border-radius: 0
}
.city_a {
	PADDING-BOTTOM: 1px; MARGIN-TOP: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; DISPLAY: inline-block; BACKGROUND: #e3e6e7; MARGIN-LEFT: 5px; PADDING-TOP: 2px; -webkit-border-radius: 0
}
.city_a .city {
	PADDING-TOP: 0px
}
.city_ch {
	MARGIN-TOP: 7px
}
.qzs {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; BORDER-RIGHT-WIDTH: 0px; MARGIN-TOP: -3px; PADDING-LEFT: 5px; WIDTH: 14px; PADDING-RIGHT: 5px; DISPLAY: none; BACKGROUND: #ff7a4c; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 14px; COLOR: #fff; FONT-SIZE: 11px; VERTICAL-ALIGN: text-top; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px; MARGIN-RIGHT: 5px; PADDING-TOP: 0px; -webkit-border-radius: 14px
}
.bbmes {
	DISPLAY: none
}
