
.qiandaobanner{
	display:block;
	text-align:center;
	position: relative;
	min-height: 26px;
}
.qiandaobanner img{
	width:100%;
	border:0;
	min-width:320px;
}

.qiandaobanner  span {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    line-height: 26px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.cardexplain{
	margin:11px 10px 20px 9px;
	min-width:301px;
}

/*window*/
.window {
	width:267px;
	position:absolute;
	display:none;
	margin:0px auto 0 -136px;
	padding:2px;
	bottom:70px;
	left:50%;
	border-radius:0.6em;
	-webkit-border-radius:0.6em;
	-moz-border-radius:0.6em;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	font:14px/1.5 Microsoft YaHei, Helvitica, Verdana, Arial, san-serif;
	z-index:1000;
}
.window .wtitle {
	background-color: #585858;
	line-height: 26px;
	padding: 5px 5px 5px 10px;
	color:#ffffff;
	font-size:16px;
	border-radius:0.5em 0.5em 0 0;
	-webkit-border-radius:0.5em 0.5em 0 0;
	-moz-border-radius:0.5em 0.5em 0 0;
}
.window .content {
	/*min-height:100px;*/
	overflow:auto;
	padding:10px;
	color: #222222;
	text-shadow: 0 1px 0 #FFFFFF;
}
.window #txt {
	min-height:30px;
	font-size:14px;
	line-height:20px;
}
.window .content p {
	margin:10px 0 0 0;
}

.window .wtitle .close {
	float:right;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACTSURBVEhL7dNtCoAgDAZgb60nsGN1tPLVCVNHmg76kQ8E1mwv+GG27cestQ4PvTZ69SFocBGpWa8+zHt/Up+IN+MhgLlUmnIE1CpBQB2COZibfpnXhHFaIZkYph0SOeeK/QJ8o7KOek84fkCWSBtfL+Ny2MPpCkPFMH6PWEhWhKncIyEk69VfiUuVhqJefds+YcwNbEwxGqGIFWYAAAAASUVORK5CYII=");
	width:26px;
	height:26px;
	display:block;
}

.green{
	color:#090;
}


.pxlabel {
	position: relative;
	background-color: transparent;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	padding:10px;
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	-webkit-appearance:none;
}

.pxlabeltextarea {
	position: relative;
	background-color: transparent;
	color: #999999;
	display: inline-block;
	vertical-align: middle;
	padding:10px;
	font-size: 16px;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	-webkit-appearance:none;
}

.px[type="text"] {
	position: relative;
	background-color: transparent;
	color: #999999;
	display: inline-block;
	vertical-align:middle;
	width: 100%;
	padding:10px;
	font-size: 16px;
	/*margin:0 auto;
	margin:10px 0;*/
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	-webkit-appearance:none;
	border:1px solid #e7e7e7;
	-webkit-box-shadow: 0 0 3px 0 #eeeeee inset;
	-moz-box-shadow: 0 0 3px 0 #eeeeee inset;
	box-shadow: 0 0 3px 0 #eeeeee inset;
	border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    
}
.pxtextarea[type="textarea"] {
    width: 100%; 
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.pxtextarea{
	position: relative;
	background-color: transparent;
	color: #999999;
	display: inline-block;
	width: 100%; 
	margin:10px 0;
	font-size: 16px;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	overflow:auto;
	-webkit-appearance:none;
	border:1px solid #e7e7e7;
	-webkit-box-shadow: 0 0 3px 0 #eeeeee inset;
	-moz-box-shadow: 0 0 3px 0 #eeeeee inset;
	box-shadow: 0 0 3px 0 #eeeeee inset;
	border-radius: 3px;
	-webkit-box-sizing:border-box;
	resize:none;
	outline:none;
}

.submit[type="button"] {
     width: 100%; 
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}
.submit {
	background-color:#179F00;
	padding:10px 20px;
	font-size:16px;
	text-decoration:none;
	border:1px solid #0B8E00;
	background-image: linear-gradient(bottom,  #179F00 0%, #5DD300 100%);
	background-image: -o-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -moz-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -ms-linear-gradient(bottom, #179F00 0%, #5DD300 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #179F00),
	color-stop(1, #5DD300)
	);
	-webkit-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #94E700 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color: #ffffff;
	display:block;
	text-align:center;
	text-shadow:0 1px rgba(0, 0, 0, 0.2);
}
.submit:active {
	padding-bottom:9px;
	padding-left:20px;
	padding-right:20px;
	padding-top:11px;
	top:0px;
	background-image: linear-gradient(bottom, #5DD300 0%, #179F00 100%);
	background-image: -o-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -moz-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -ms-linear-gradient(bottom,  #5DD300 0%, #179F00 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #5DD300),
	color-stop(1, #179F00)
	);
	-webkit-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 #5DD300 inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}
.submit img{ width:15px; margin:-4px 10px 0 0;}

/*history*/
#message{ background-color:#f7f7f7}
.history { background:url(images/line04.gif) repeat-y 15px 0;  position:relative; }
.history-date h2 { background:url(images/icon06.gif) no-repeat 0 0; height:32px; font-size:24px; font-family:微软雅黑; font-weight:normal; padding-left:38px; margin:0 0 30px 0; padding-top:0; background-size:32px auto;color:#1DB702; }
.history-date h2.first { position:absolute; left:0; top:0; z-index:99;}
.history-date h2 img { vertical-align:-5px;}
.history-date h2.date02 { background:none;}
.history-date ul {}
.history-date ul li { background:url(images/icon07.gif) no-repeat 8px 6px; background-size:15px 14px; padding: 0 0 20px 30px; zoom:1; }
.history-date ul li.last { padding-bottom:0;}
.history-date ul li:after{content:" "; display:block; height:0; clear:both; visibility:hidden;}
.history-date ul li h3 { color:#c3c3c3; font:normal 18px/16px Arial; margin: -2px 0 10px 0}
.history-date ul li h3 img { float:left; margin-right:5px; width:32ox; height:32px;border-radius: 3px;}
.history-date ul li h3 span { display:block; color:#d0d0d0; font-size:12px; margin-top:2px;}
.history-date ul li dl { background-color: #FFFFFF;
    color: #666666;
    display: block;
    font-size: 12px;
	padding:10px;
	position:relative;
    border-radius: 5px 5px 5px 5px;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
}
.history-date ul li dl.huifu { 
	background-color: #FFFFFF;
    box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.history-date ul li dl dt { font-size: 16px;
    line-height: 22px; color:#737373; }
.history-date ul li dl dt .czan{ display:inline-block; width:33%;float:left;text-align:center;}
.history-date ul li dl dt span { display:block; color:#999; font-size:12px; line-height: 18px;word-wrap:normal;word-break:break-all;overflow:hidden;}
.history-date ul li.green h3 { color:#1db702;word-wrap:normal;word-break:break-all;}
.history-date ul li.green h3 span { color:#92CC88; }
.history-date ul li.green dl { margin:-2px 0 10px 0;}
.history-date ul li.green dl dt { font-size: 16px;
    line-height: 22px;word-wrap:normal;word-break:break-all;}
.history-date h2.first .more-history {font-size: 16px; background: transparent; margin-left: 30px;}
.history-date h2.first .more-history:hover {text-decoration: underline;}

.container{
	max-width:640px;
	margin:auto;
}